<configuration>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>

  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox"/>
      <add name="clientId" value="Aay1UvDTKiPQubWqySy0N5eZNXfoKRt-pTIxE3FeQHYBH64VRlr4MRox_-eEsP1IVU5lB87XohzMT2Mv"/>
      <add name="clientSecret" value="EGd82QV-Ifk_gjXLEJzH3D-U4XdMTfEcnUz-FYB0vULCtQLZcvRr49yfCrZbtxAki0PhE8ZdX31CWkQO"/>
    </settings>
  </paypal>
</configuration>

